body {
  margin:0px;
  background-color:rgba(242, 242, 242, 0.8);
  background-image:none;
  position:static;
  left:auto;
  width:345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1583 {
  position:absolute;
  left:78px;
  top:45px;
  width:126px;
  height:41px;
}
#u1584 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1585 {
  position:absolute;
  left:78px;
  top:96px;
  width:126px;
  height:41px;
}
#u1586 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1587 {
  position:absolute;
  left:78px;
  top:147px;
  width:126px;
  height:41px;
}
#u1588 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1589 {
  position:absolute;
  left:78px;
  top:198px;
  width:126px;
  height:41px;
}
#u1590 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1591 {
  position:absolute;
  left:78px;
  top:249px;
  width:126px;
  height:41px;
}
#u1592 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1593 {
  position:absolute;
  left:78px;
  top:300px;
  width:126px;
  height:41px;
}
#u1594 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1595_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:147px;
  height:47px;
}
#u1595 {
  position:absolute;
  left:204px;
  top:92px;
  width:141px;
  height:41px;
}
#u1596 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  word-wrap:break-word;
}
