body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:726px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:152px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6753 {
  position:absolute;
  left:500px;
  top:68px;
  width:225px;
  height:152px;
  color:#000000;
}
#u6754 {
  position:absolute;
  left:2px;
  top:68px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6755 {
  position:absolute;
  left:421px;
  top:35px;
  width:301px;
  height:31px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u6756 {
  position:absolute;
  left:2px;
  top:8px;
  width:297px;
  word-wrap:break-word;
}
#u6757 {
  position:absolute;
  left:67px;
  top:298px;
  width:92px;
  height:31px;
}
#u6757_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6757_input:disabled {
  color:grayText;
}
#u6758 {
  position:absolute;
  left:242px;
  top:199px;
  width:253px;
  height:31px;
}
#u6758_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6758_input:disabled {
  color:grayText;
}
#u6759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6759 {
  position:absolute;
  left:362px;
  top:35px;
  width:59px;
  height:31px;
  color:#000000;
}
#u6760 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6761 {
  position:absolute;
  left:248px;
  top:100px;
  width:67px;
  height:31px;
  color:#000000;
}
#u6762 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u6763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6763 {
  position:absolute;
  left:0px;
  top:68px;
  width:84px;
  height:31px;
}
#u6764 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u6765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6765 {
  position:absolute;
  left:0px;
  top:35px;
  width:74px;
  height:31px;
}
#u6766 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u6767 {
  position:absolute;
  left:315px;
  top:100px;
  width:180px;
  height:31px;
}
#u6767_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6767_input:disabled {
  color:grayText;
}
#u6768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6768 {
  position:absolute;
  left:505px;
  top:3px;
  width:74px;
  height:31px;
}
#u6769 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u6770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u6770 {
  position:absolute;
  left:579px;
  top:3px;
  width:143px;
  height:31px;
  color:#000000;
  text-align:left;
}
#u6771 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u6772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6772 {
  position:absolute;
  left:0px;
  top:2px;
  width:74px;
  height:31px;
}
#u6773 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u6774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u6774 {
  position:absolute;
  left:73px;
  top:2px;
  width:98px;
  height:31px;
  color:#000000;
  text-align:left;
}
#u6775 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u6776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6776 {
  position:absolute;
  left:362px;
  top:2px;
  width:74px;
  height:31px;
}
#u6777 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u6778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u6778 {
  position:absolute;
  left:435px;
  top:2px;
  width:46px;
  height:31px;
  color:#000000;
  text-align:left;
}
#u6779 {
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u6780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6780 {
  position:absolute;
  left:0px;
  top:199px;
  width:84px;
  height:31px;
  color:#000000;
}
#u6781 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u6782 {
  position:absolute;
  left:87px;
  top:199px;
  width:155px;
  height:31px;
}
#u6782_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6782_input:disabled {
  color:grayText;
}
#u6783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6783 {
  position:absolute;
  left:0px;
  top:232px;
  width:84px;
  height:31px;
  color:#000000;
}
#u6784 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u6785 {
  position:absolute;
  left:242px;
  top:233px;
  width:253px;
  height:31px;
}
#u6785_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6785_input:disabled {
  color:grayText;
}
#u6786 {
  position:absolute;
  left:87px;
  top:233px;
  width:155px;
  height:31px;
}
#u6786_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6786_input:disabled {
  color:grayText;
}
#u6787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6787 {
  position:absolute;
  left:0px;
  top:298px;
  width:67px;
  height:31px;
  color:#000000;
}
#u6788 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u6789 {
  position:absolute;
  left:221px;
  top:332px;
  width:75px;
  height:31px;
}
#u6789_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6789_input:disabled {
  color:grayText;
}
#u6790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6790 {
  position:absolute;
  left:162px;
  top:332px;
  width:59px;
  height:31px;
  color:#000000;
}
#u6791 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6792 {
  position:absolute;
  left:66px;
  top:496px;
  width:63px;
  height:31px;
}
#u6792_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6792_input:disabled {
  color:grayText;
}
#u6793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6793 {
  position:absolute;
  left:0px;
  top:496px;
  width:66px;
  height:31px;
  color:#000000;
}
#u6794 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u6795 {
  position:absolute;
  left:418px;
  top:366px;
  width:99px;
  height:31px;
}
#u6795_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6795_input:disabled {
  color:grayText;
}
#u6796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6796 {
  position:absolute;
  left:346px;
  top:366px;
  width:71px;
  height:31px;
  color:#000000;
}
#u6797 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u6798 {
  position:absolute;
  left:66px;
  top:399px;
  width:119px;
  height:31px;
}
#u6798_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6798_input:disabled {
  color:grayText;
}
#u6799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6799 {
  position:absolute;
  left:0px;
  top:399px;
  width:66px;
  height:31px;
  color:#000000;
}
#u6800 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u6801 {
  position:absolute;
  left:253px;
  top:399px;
  width:119px;
  height:31px;
}
#u6801_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6801_input:disabled {
  color:grayText;
}
#u6802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u6802 {
  position:absolute;
  left:186px;
  top:399px;
  width:66px;
  height:31px;
  font-size:11px;
  color:#000000;
}
#u6803 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u6804 {
  position:absolute;
  left:432px;
  top:399px;
  width:85px;
  height:31px;
}
#u6804_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6804_input:disabled {
  color:grayText;
}
#u6805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6805 {
  position:absolute;
  left:373px;
  top:399px;
  width:59px;
  height:31px;
  color:#000000;
}
#u6806 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6807 {
  position:absolute;
  left:356px;
  top:332px;
  width:65px;
  height:31px;
}
#u6807_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u6807_input:disabled {
  color:grayText;
}
#u6808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6808 {
  position:absolute;
  left:297px;
  top:332px;
  width:59px;
  height:31px;
  color:#000000;
}
#u6809 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6810 {
  position:absolute;
  left:248px;
  top:133px;
  width:75px;
  height:31px;
  font-size:12px;
  color:#000000;
}
#u6811 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u6812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6812 {
  position:absolute;
  left:0px;
  top:463px;
  width:66px;
  height:31px;
  color:#000000;
}
#u6813 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u6814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6814 {
  position:absolute;
  left:126px;
  top:463px;
  width:66px;
  height:31px;
  color:#000000;
}
#u6815 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u6816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6816 {
  position:absolute;
  left:409px;
  top:463px;
  width:66px;
  height:31px;
  color:#000000;
}
#u6817 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u6818 {
  position:absolute;
  left:323px;
  top:133px;
  width:172px;
  height:31px;
}
#u6818_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6819 {
  position:absolute;
  left:65px;
  top:463px;
  width:60px;
  height:31px;
}
#u6819_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6820 {
  position:absolute;
  left:278px;
  top:464px;
  width:66px;
  height:31px;
  color:#000000;
}
#u6821 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u6822 {
  position:absolute;
  left:344px;
  top:464px;
  width:65px;
  height:31px;
}
#u6822_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6823 {
  position:absolute;
  left:475px;
  top:463px;
  width:42px;
  height:31px;
}
#u6823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6824 {
  position:absolute;
  left:74px;
  top:35px;
  width:97px;
  height:31px;
}
#u6824_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6824_input:disabled {
  color:grayText;
}
#u6825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6825 {
  position:absolute;
  left:181px;
  top:2px;
  width:74px;
  height:31px;
}
#u6826 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u6827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u6827 {
  position:absolute;
  left:254px;
  top:2px;
  width:98px;
  height:31px;
  color:#000000;
  text-align:left;
}
#u6828 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u6829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6829 {
  position:absolute;
  left:0px;
  top:100px;
  width:84px;
  height:31px;
}
#u6830 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u6831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u6831 {
  position:absolute;
  left:84px;
  top:100px;
  width:163px;
  height:31px;
  color:#000000;
  text-align:left;
}
#u6832 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  word-wrap:break-word;
}
#u6833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6833 {
  position:absolute;
  left:181px;
  top:35px;
  width:74px;
  height:31px;
}
#u6834 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u6835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u6835 {
  position:absolute;
  left:254px;
  top:35px;
  width:98px;
  height:31px;
  color:#000000;
  text-align:left;
}
#u6836 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u6837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6837 {
  position:absolute;
  left:84px;
  top:68px;
  width:163px;
  height:31px;
}
#u6838 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  word-wrap:break-word;
}
#u6839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6839 {
  position:absolute;
  left:248px;
  top:68px;
  width:84px;
  height:31px;
}
#u6840 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u6841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6841 {
  position:absolute;
  left:332px;
  top:68px;
  width:163px;
  height:31px;
}
#u6842 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  word-wrap:break-word;
}
#u6843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6843 {
  position:absolute;
  left:0px;
  top:133px;
  width:87px;
  height:31px;
  font-size:12px;
  color:#000000;
}
#u6844 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u6845 {
  position:absolute;
  left:87px;
  top:133px;
  width:161px;
  height:31px;
}
#u6845_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6846 {
  position:absolute;
  left:0px;
  top:166px;
  width:84px;
  height:31px;
}
#u6847 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u6848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6848 {
  position:absolute;
  left:84px;
  top:166px;
  width:163px;
  height:31px;
  color:#000000;
}
#u6849 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  word-wrap:break-word;
}
#u6850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6850 {
  position:absolute;
  left:248px;
  top:166px;
  width:84px;
  height:31px;
}
#u6851 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u6852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6852 {
  position:absolute;
  left:332px;
  top:166px;
  width:163px;
  height:31px;
  color:#000000;
}
#u6853 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  word-wrap:break-word;
}
#u6854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6854 {
  position:absolute;
  left:0px;
  top:264px;
  width:87px;
  height:31px;
  color:#000000;
}
#u6855 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u6856 {
  position:absolute;
  left:87px;
  top:265px;
  width:408px;
  height:31px;
}
#u6856_input {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6856_input:disabled {
  color:grayText;
}
#u6857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6857 {
  position:absolute;
  left:160px;
  top:298px;
  width:99px;
  height:31px;
  font-size:12px;
  color:#000000;
}
#u6858 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u6859 {
  position:absolute;
  left:259px;
  top:298px;
  width:97px;
  height:31px;
}
#u6859_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6860 {
  position:absolute;
  left:356px;
  top:298px;
  width:67px;
  height:31px;
  font-size:12px;
  color:#000000;
}
#u6861 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u6862 {
  position:absolute;
  left:423px;
  top:298px;
  width:72px;
  height:31px;
}
#u6862_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6863 {
  position:absolute;
  left:0px;
  top:332px;
  width:66px;
  height:31px;
  font-size:12px;
  color:#000000;
}
#u6864 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u6865 {
  position:absolute;
  left:66px;
  top:332px;
  width:96px;
  height:31px;
}
#u6865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6866 {
  position:absolute;
  left:421px;
  top:332px;
  width:59px;
  height:31px;
  color:#000000;
}
#u6867 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u6868 {
  position:absolute;
  left:480px;
  top:332px;
  width:45px;
  height:31px;
}
#u6868_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u6869 {
  position:absolute;
  left:0px;
  top:366px;
  width:71px;
  height:31px;
  font-size:12px;
  color:#000000;
}
#u6870 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u6871 {
  position:absolute;
  left:71px;
  top:366px;
  width:103px;
  height:31px;
}
#u6871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6872 {
  position:absolute;
  left:176px;
  top:366px;
  width:64px;
  height:31px;
  color:#000000;
}
#u6873 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u6874 {
  position:absolute;
  left:239px;
  top:366px;
  width:103px;
  height:31px;
}
#u6874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6875 {
  position:absolute;
  left:0px;
  top:431px;
  width:33px;
  height:31px;
  color:#000000;
}
#u6876 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u6877 {
  position:absolute;
  left:34px;
  top:431px;
  width:35px;
  height:31px;
}
#u6877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6878 {
  position:absolute;
  left:69px;
  top:431px;
  width:68px;
  height:31px;
}
#u6878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6879 {
  position:absolute;
  left:137px;
  top:431px;
  width:35px;
  height:31px;
}
#u6879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6880 {
  position:absolute;
  left:172px;
  top:431px;
  width:33px;
  height:31px;
  color:#000000;
}
#u6881 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u6882 {
  position:absolute;
  left:206px;
  top:431px;
  width:35px;
  height:31px;
}
#u6882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6883 {
  position:absolute;
  left:241px;
  top:431px;
  width:68px;
  height:31px;
}
#u6883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6884 {
  position:absolute;
  left:309px;
  top:431px;
  width:35px;
  height:31px;
}
#u6884_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6885 {
  position:absolute;
  left:345px;
  top:431px;
  width:33px;
  height:31px;
  color:#000000;
}
#u6886 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u6887 {
  position:absolute;
  left:378px;
  top:431px;
  width:35px;
  height:31px;
}
#u6887_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6888 {
  position:absolute;
  left:414px;
  top:431px;
  width:68px;
  height:31px;
}
#u6888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6889 {
  position:absolute;
  left:482px;
  top:431px;
  width:35px;
  height:31px;
}
#u6889_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6890 {
  position:absolute;
  left:131px;
  top:496px;
  width:125px;
  height:31px;
  color:#000000;
}
#u6891 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u6892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6892 {
  position:absolute;
  left:504px;
  top:68px;
  width:114px;
  height:31px;
  color:#000000;
}
#u6893 {
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u6894 {
  position:absolute;
  left:520px;
  top:104px;
  width:98px;
  height:31px;
}
#u6894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6895 {
  position:absolute;
  left:601px;
  top:68px;
  width:50px;
  height:31px;
  color:#000000;
}
#u6896 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u6897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6897 {
  position:absolute;
  left:653px;
  top:68px;
  width:69px;
  height:31px;
  color:#000000;
}
#u6898 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u6899 {
  position:absolute;
  left:624px;
  top:104px;
  width:27px;
  height:31px;
}
#u6899_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6900 {
  position:absolute;
  left:667px;
  top:104px;
  width:56px;
  height:31px;
}
#u6900_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u6901 {
  position:absolute;
  left:500px;
  top:110px;
  width:20px;
  height:19px;
}
#u6902 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u6903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u6903 {
  position:absolute;
  left:500px;
  top:139px;
  width:20px;
  height:19px;
}
#u6904 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u6905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6905 {
  position:absolute;
  left:315px;
  top:495px;
  width:125px;
  height:31px;
  color:#000000;
}
#u6906 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u6907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6907 {
  position:absolute;
  left:256px;
  top:495px;
  width:57px;
  height:31px;
  color:#000000;
}
#u6908 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u6909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6909 {
  position:absolute;
  left:443px;
  top:495px;
  width:74px;
  height:31px;
  color:#000000;
}
#u6910 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u6911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:108px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6912 {
  position:absolute;
  left:505px;
  top:222px;
  width:221px;
  height:108px;
  color:#000000;
}
#u6913 {
  position:absolute;
  left:2px;
  top:46px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u6914 {
  position:absolute;
  left:517px;
  top:233px;
  width:64px;
  height:31px;
  color:#000000;
  text-align:left;
}
#u6915 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u6916 {
  position:absolute;
  left:527px;
  top:267px;
  width:32px;
  height:31px;
}
#u6916_input {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u6917 {
  position:absolute;
  left:591px;
  top:232px;
  width:92px;
  height:31px;
  color:#000000;
  text-align:left;
}
#u6918 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u6919 {
  position:absolute;
  left:560px;
  top:267px;
  width:153px;
  height:31px;
}
#u6919_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u6920 {
  position:absolute;
  left:505px;
  top:267px;
  width:20px;
  height:19px;
}
#u6921 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u6922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u6922 {
  position:absolute;
  left:505px;
  top:296px;
  width:20px;
  height:19px;
}
#u6923 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u6924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:227px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6925 {
  position:absolute;
  left:527px;
  top:332px;
  width:199px;
  height:227px;
  color:#000000;
}
#u6926 {
  position:absolute;
  left:2px;
  top:106px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6927 {
  position:absolute;
  left:605px;
  top:335px;
  width:89px;
  height:31px;
  color:#000000;
}
#u6928 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u6929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6929 {
  position:absolute;
  left:605px;
  top:367px;
  width:89px;
  height:31px;
  color:#000000;
}
#u6930 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u6931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#000000;
}
#u6931 {
  position:absolute;
  left:599px;
  top:398px;
  width:95px;
  height:31px;
  font-size:9px;
  color:#000000;
}
#u6932 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u6933 {
  position:absolute;
  left:545px;
  top:439px;
  width:100px;
  height:16px;
}
#u6934 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6933_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6935 {
  position:absolute;
  left:545px;
  top:455px;
  width:100px;
  height:16px;
}
#u6936 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6935_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6937 {
  position:absolute;
  left:545px;
  top:471px;
  width:100px;
  height:16px;
}
#u6938 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6937_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6939 {
  position:absolute;
  left:545px;
  top:487px;
  width:100px;
  height:16px;
}
#u6940 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6939_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6941 {
  position:absolute;
  left:545px;
  top:503px;
  width:100px;
  height:16px;
}
#u6942 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6941_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6943 {
  position:absolute;
  left:66px;
  top:528px;
  width:85px;
  height:31px;
}
#u6943_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6943_input:disabled {
  color:grayText;
}
#u6944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u6944 {
  position:absolute;
  left:0px;
  top:528px;
  width:66px;
  height:31px;
  font-size:11px;
  color:#000000;
}
#u6945 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u6946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u6946 {
  position:absolute;
  left:151px;
  top:528px;
  width:66px;
  height:31px;
  font-size:11px;
  color:#000000;
}
#u6947 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u6948 {
  position:absolute;
  left:217px;
  top:528px;
  width:300px;
  height:31px;
}
#u6948_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6949 {
  position:absolute;
  left:544px;
  top:338px;
  width:44px;
  height:31px;
}
#u6949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6949_input:disabled {
  color:grayText;
}
#u6950 {
  position:absolute;
  left:544px;
  top:369px;
  width:44px;
  height:31px;
}
#u6950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6950_input:disabled {
  color:grayText;
}
#u6951 {
  position:absolute;
  left:544px;
  top:400px;
  width:44px;
  height:31px;
}
#u6951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6951_input:disabled {
  color:grayText;
}
#u6952 {
  position:absolute;
  left:194px;
  top:463px;
  width:44px;
  height:31px;
}
#u6952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6952_input:disabled {
  color:grayText;
}
